<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Tokio_no_app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ほーむ",   root_path  %></li>
        <li><%= link_to "へるぷ",   help_path %></li>
        <li><%= link_to "ろぐあうとぉ", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
